.view {
  width: 100%;
  height: 100vh;
  left: 0;
  top: 9;
  position: fixed;
  background: rgba(0,0,0,.9);
  z-index: 99;
  border-top: 2px solid #FAA2AB;
  opacity: 0;
  animation: opacity 1s forwards;
}

.view .left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  left: 10%;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 18px;
  outline: none;
}
.view .right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  right: 10%;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 18px;
  outline: none;
}
.view .left, .view .right {
  color: #646C5A;
  transition: 1s all;
}
.view .left:hover, .view .right:hover {
  color: #ccc;
}
.detail {
  width: 100%;
  margin: 0 auto;
  background: #f5f5f5;
  height: 100vh;
  position: relative;
  border-top-right-radius: 5px;
}
/*标题*/
.detail .title {
  background: #fff;
  z-index: 999;
  position: absolute;
  width: 100%;
  padding: 10px;

}
.detail .time {
  font-size: 12px;
  margin-top: 8px;
  text-indent: 10px;
}
.detail .title .mate {
  display: flex;
  margin-top: 5px;
}
.detail h1 {
  font-size: 18px;
  margin-top: 15px;
}
.detail .info {
  font-size: 12px;
}
.detail button {
  background: #fff;
  position: absolute;
  right: 5px;
  width: 50px;
  height: 50px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  outline: none;
  color: rgba(0,0,0,.6);
  top:10px;
  box-shadow: 0 3px 1px -4px rgba(0,0,0,1),0 2px 2px 0 rgba(0,0,0,.09),0 1px 5px 0 rgba(0,0,0,.04);
  border-right: 2px solid #7CAD46;
  border-radius: 50%;
  z-index:9999;
}
.detail .detailMan {
  height: calc(100vh - 100px);
  overflow: auto;
  position: absolute;
  opacity: 0;
  animation: topToDown 1s forwards;
  width: 100%;

  /*top:0;*/
}
.detail .detailMan::-webkit-scrollbar {/*滚动条整体样式*/
  width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 2px;
}
.detail .detailMan::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  background: #ccc;
}
.detail .detailMan::-webkit-scrollbar-track {/*滚动条里面轨道*/
  background: #f5f5f5;
}
.commit {
  background: #6F6F6F;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  color: #fff;
}
@keyframes topToDown {
  0% {
    bottom: 500px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
