.userinfo {
  width: 400px;
  height: 622px;
  background: #F2F2F2;
  top: 0;
  left: 0px;
  position: fixed;
  text-align: center;
  padding-top: 100px;
  opacity: 0;
  animation: opacity 1s forwards;
  animation-delay: 2s;
}

.userinfo p img {
  width: 100px;
  border-radius: 50%;
}
.userinfo .name {
  font-size: 18px;
}
.userinfo .title {
  color: #ccc;
  font-size: 14px !important;
}
.userinfo .result {
  width: 200px;
  margin: 0 auto;
}
.userinfo .result ul{
  display: flex;
  justify-content: space-around;
}

.userinfo .result ul li p, .userinfo .result ul li h2{
  line-height: 20px;
  margin-left: -25px;
}
.userinfo .result ul li h2 {
  font-size: 16px;
}
.userinfo .line {
  width: 80%;
  margin: 0 auto;
  border-top: 1px dashed #ccc;
  height: 2px;
}
.userinfo .bq {
  color: #ccc;
  margin-top: 20px;
}
.userinfo .chat {
  width: 300px;
  height: 100px;
  margin: 10px auto;
  padding: 0 !important;
}
.userinfo .chat ul {
  padding: 0;
}
.userinfo .chat ul li {
  width: 150px;
  display: block;
  height: 50px;
  line-height: 50px;
  float: left;
  font-size: 14px;
  vertical-align: middle;
}
.userinfo .chat ul li:hover {
  background: #222;
  color: #fff;
}
.userinfo .chat ul li .icon {
  vertical-align: middle;
  font-size: 19px;
  margin-top: -7px;
  margin-right: 5px;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
